body {
    font-family: 'Zilla Slab', serif;
}

main {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

main>*{
padding: 5px;
margin: 5px;
flex: 1 100%;
border-radius: 10px;
}

#AboutMePg #ProjectsPg #ContactPg {
    width: 100%;
    height: auto;
}

#AboutMePg h1 p {
float: right;
}

#AboutMeImg{
    width: 20%;
    height: auto;
    float: left;
}

#wfgamelink {
    width: 20%;
    height: auto;
    float: inherit;
}

.projects {
    display: flex;
    flex-flow: column;
}