body {
  font-family: "Zilla Slab", serif;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

.col {
  padding: 1%;
}

.card-img-top {
  border: 1px black solid;
}

.card-text,
.list-group-item {
  color: black;
}

p {
  font-size: 15px;
}

main {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

main > * {
  padding: 5px;
  margin: 5px;
  flex: 1 100%;
  border-radius: 10px;
  background-color: #212529;
}

#AboutMePg #ProjectsPg #ContactPg {
  width: 100%;
  height: auto;
}

#AboutMePg h1 p {
  float: right;
}

#AboutMeImg {
  width: 25%;
  height: 25%;
  float: left;
  border: black 10px solid;
  margin: 20px;
}

#wfgamelink,
#qolLink {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  border: solid black 10px;
}

#comingsoonimg {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  border: solid black 10px;
}

#wfgamelink:hover,
#qolLink:hover {
  border: gold solid 10px;
}

.projects {
  display: flex;
  flex-flow: column;
}

#ContactPg p {
  display: inline;
  text-align: center;
}

h5 {
  color: black;
  font-weight: bold;
}
